.navigation{
     background-color: red;
    width: 100%;
    
}

.wedding-banner{
    font-family: "Alex Brush";
    font-size: 100px;
    padding: 0px;
    margin:0px;
    color:rgb(250, 246, 44);

  }
  
  .header-font{
    font-family:'Times New Roman', Times, serif;
    padding:2px;
  color:rgb(250, 246, 44);
  }
  
  a{
    color:inherit;
    text-decoration: none;
  }